version: "3.8"
services:
  openobserve:
    image: openobserve/openobserve:latest
    container_name: openobserve
    ports:
      - "5080:5080"
      - "5081:5081"
    environment:
      ZO_ROOT_USER_EMAIL: ${ZO_ROOT_USER_EMAIL:-admin@example.com}
      ZO_ROOT_USER_PASSWORD: ${ZO_ROOT_USER_PASSWORD:-admin123}
      ZO_DATA_DIR: /data
    volumes:
      - ./oo-data:/data
    restart: unless-stopped

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: todo-app
    depends_on:
      - openobserve
    ports:
      - "8080:8080"
    environment:
      SPRING_APPLICATION_NAME: todo-app
      OTEL_SERVICE_NAME: todo-app
      OBS_ENV: dev
      MANAGEMENT_TRACING_ENABLED: "false"
      OTLP_METRICS_ENABLED: "false"
      OTEL_EXPORTER_OTLP_PROTOCOL: grpc
      OTEL_EXPORTER_OTLP_ENDPOINT: http://openobserve:5081
      OO_ORG: ${OO_ORG:-default}
      OO_STREAM_NAME: ${OO_STREAM_NAME:-default}
      OO_AUTH_BASIC: ${OO_AUTH_BASIC}
      OTEL_EXPORTER_OTLP_HEADERS: "Authorization=${OO_AUTH_BASIC},organization=${OO_ORG:-default},stream-name=${OO_STREAM_NAME:-default}"
      OTEL_TRACES_EXPORTER: otlp
      OTEL_METRICS_EXPORTER: otlp
      OTEL_LOGS_EXPORTER: otlp
    restart: unless-stopped